<section id="footer-hero" class="shopify-section shopify-section-group-header-group section"><link rel="stylesheet" href="//cdn.shopify.com/s/files/1/0731/9506/1561/t/1/assets/component-rte.css?v=157759894039490954001677655994" media="all" onload="this.media='all'">
<link rel="stylesheet" href="//cdn.shopify.com/s/files/1/0731/9506/1561/t/1/assets/section-rich-text.css?v=155250126305810049721677521631" media="all" onload="this.media='all'">

<noscript><link href="//cdn.shopify.com/s/files/1/0731/9506/1561/t/1/assets/component-rte.css?v=157759894039490954001677655994" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="//cdn.shopify.com/s/files/1/0731/9506/1561/t/1/assets/section-rich-text.css?v=155250126305810049721677521631" rel="stylesheet" type="text/css" media="all" /></noscript>
<div class="isolate">
  <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width">

    <a href="/" style="text-decoration: none;">
      <div class="rich-text__blocks left"><h2 class="rich-text__heading rte hxl">
        <span>X</span>
        </h2>
        <div class="rich-text__text rte">
          <p>The<br>Ultimate<br><strong>Brain<br>Performance<br>Enhancer</strong></p>
        </div>
      </div>
    </a>
    
  </div>
</div>
</section>