[id$=__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8] .new-chart__cta-col .button--outline {
  border-color: #fff;
  color: #fff;
  background-color: transparent;
  width: 25.3rem;
  font-style: normal;
  text-transform: uppercase;
  padding: 0 2.6rem;
  margin: .8rem 0;
  font-weight: 400;
  gap: 1.5rem;
}
[id$=__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8] .button-play {
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
[id$=__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8] .new-chart__cta-col .button--outline svg {
  width: 85%;
}

@media screen and (min-width: 750px) {
  [id$=__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8] .rich-text__buttons {
    max-width: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  [id$=__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8] .new-chart__cta-col .button--outline {
    margin: 0;
    width: 100%;
  }
}

/* Landing D additional css */
.landing-d .announcement-bar__message {
  font-size: 14px;
  padding-block-start: 32px;
  padding-block-end: 12px;
  position: relative;
}

.landing-d .announcement-bar__message:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 20px;
  left: 50%;
  top: 12px;
  transform: translateX(-50%);
  background: url("https://cdn.shopify.com/s/files/1/0731/9506/1561/files/5stars-orange.png") center/contain no-repeat;
}

.landing-d .announcement-bar {
  background: #0033a1;
}

@media screen and (min-width: 750px) {
  .landing-d .announcement-bar {
    background: #000000;
  }
}

.landing-d .button--landing {
  --color-button: 0, 51, 161;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  padding: 0 10rem;
}

.landing-d .collapsible__title {
  font-size: 18px;
}

.landing-d .ingredient-list__content {
  font-size: 16px;
}

.landing-d .new-chart__heading {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 20px;
}

.landing-d .new-chart__inner {
  font-size: 16px;
  row-gap: 24px;
}

.landing-d .new-chart__cta {
  margin-top: 0;
}

@media screen and (min-width: 750px) {
  .landing-d .new-chart__heading {
    text-align: center;
    font-size: 32px;
  }
}

/* Responsive Image section */
.responsive-image__inner {
  text-align: center;
}

.responsive-image__heading {
  text-transform: uppercase;
  font-size: 24px;
  margin-block-start: 0;
}

.desktop-hide {
  display: block;
}

.mobile-hide {
  display: none;
}

@media screen and (min-width: 750px) {
  .responsive-image__heading {
    font-size: 32px;
  }

  .desktop-hide {
    display: none;
  }

  .mobile-hide {
    display: block;
  }
}