.page-width-fluid {
  max-width: none;
}

.announcement-bar__message {
  line-height: 1.2;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  font-style: italic;
  color: #333;
  --color-button: 25, 200, 118;
  padding: 0 2.6rem;
}

.rte a[href="#brand"],
.brand {
  text-decoration: none;
  color: inherit;
  cursor: default;
  pointer-events: none;
  font-family: Raleway;
  font-weight: 900;
}

.rte a[href="#sup"] {
  text-decoration: none;
  color: inherit;
  cursor: default;
  pointer-events: none;
  vertical-align: super;
  font-size: smaller;
}

/* ======================== Scale adjustments */
/* Mobile phones scale */
@media screen and (max-width: 375px) {
  :root {
    --font-body-scale: .92;
  }
}
@media screen and (max-width: 360px) {
  :root {
    --font-body-scale: .82;
  }
}
/* Tablet scale */
@media screen and (min-width: 750px) and (max-width: 1024px) {
  :root {
    --font-body-scale: .55;
  }
}
/* Desktop scale */
@media screen and (min-width: 1025px) and (max-width: 1600px) {
  :root {
    --font-body-scale: .7;
  }
}


[id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] {
  background: url('https://cdn.shopify.com/s/files/1/0731/9506/1561/files/Mask_Group_2.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
}
[id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .rich-text__heading,
[id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .subtitle {
  color: inherit;
}
[id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .rich-text__heading {
  font-size: 2.6rem;
  line-height: 1.1;
  text-transform: uppercase;
}
[id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .rich-text__wrapper:last-child .rich-text__heading.h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1.2rem;
}
[id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .rich-text__text {
  font-size: 1.9rem;
  line-height: 1.3;
  margin-top: .8rem;
}
[id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .subtitle {
  font-size: 1.2rem;
  margin-top: .8rem;
}
[id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .subtitle--medium {
  font-size: 1.4rem;
  transform: translateY(-0.5rem);
}
[id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .rich-text__buttons {
  margin-top: .8rem;
}
.header-hero--landing__logo .rich-text__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}
.header-hero--landing__logo .rich-text__heading {
  font-family: "Raleway";
  font-weight: 900;
  text-align: right;
  font-size: 24.4rem;
  line-height: 1;
  margin-right: .7rem;
}
.header-hero--landing__logo .rich-text__text {
  font-family: "Roboto";
  font-size: 2.2rem;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
  margin-left: .7rem;
}
.header-hero--landing__logo .rich-text__text strong {
  font-weight: 900;
}

ul.policies {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  text-transform: uppercase;
  opacity: .8;
  margin-top: .7rem;
}
ul.policies li:before {
  content: none;
}
ul.policies .copyright__content {
  font-size: .79rem;
}
.footer__copyright .copyright__content {
  font-size: .8rem;
  opacity: .8;
}

[id$="__5e4492b5-fba5-4102-8fab-6132b0b5f714"] .multicolumn .title-wrapper-with-link {
  margin-bottom: 2rem;
  justify-content: center;
}
[id$="__5e4492b5-fba5-4102-8fab-6132b0b5f714"] .title {
  font-family: var(--font-body-family);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}
[id$="__5e4492b5-fba5-4102-8fab-6132b0b5f714"] .multicolumn-card__info {
  padding: 0;
}

.landing-buy {
  background-color: #5FBBFF;
}
.landing-buy__blocks {
  text-transform: uppercase;
}
.landing-buy__text {
  font-family: Open Sans;
  font-weight: 700;
  margin: 1.4rem 0;
}
.landing-buy__products {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  margin-top: 2.4rem;
  gap: 2.4rem;
}
.landing-buy__product-card {
  background-color: #fff;
  padding: 3rem 2rem 2.4rem;
  position: relative;
  text-align: center;
}
.landing-buy__product-card--value,
.landing-buy__product-card--popular {
  padding-top: 12rem;
  padding-bottom: 1.8rem;
}
.landing-buy__product-card-badge {
  width: 9.6rem;
  height: 10.9rem;
  position: absolute;
  top: .8rem;
  left: .4rem;
}
.landing-buy__product-card-badge img {
  width: 100%;
  height: auto;
}
.landing-buy__product-card-top-title {
  font-size: 2.6rem;
  font-weight: 700;
  padding: 1.5rem 1.5rem .9rem 10.0rem;
  text-align: center;
  min-height: 6.2rem;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.landing-buy__product-card--value .landing-buy__product-card-top-title {
  background-color: #ED1C24;
}
.landing-buy__product-card--popular .landing-buy__product-card-top-title {
  background-color: #1EA97F;
}
.landing-buy__product-card-title {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: .5rem;
}
.landing-buy__product-card-note {
  font-family: Open Sans;
  font-weight: 700;
  color: #6F6E6E;
  margin-bottom: .3rem;
}
.landing-buy__product-card-price,
.landing-buy__product-card-price-savings {
  font-size: 2.6rem;
  text-transform: uppercase;
}
.landing-buy__product-card-price-savings {
  color: #ED1C24;
}
.landing-buy__product-card-subtitle {
  font-family: Open Sans;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
  color: #6F6E6E;
  margin: 1rem 0 1.4rem;
}
.landing-buy__product-card-button .button {
  min-height: 3.5rem;
}
.landing-buy__product-card-list ul {
  font-family: Open Sans;
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 700;
  color: #6F6E6E;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: fit-content;
  margin-inline: auto;
  text-align: left;
}
.landing-buy__heading {
  font-size: 3.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.5rem;
}
.landing-buy__caption {
  font-family: Open Sans;
  font-size: 2.4rem;
  font-weight: 700;
  font-style: italic;
  color: #333;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.landing-promo .title-wrapper {
  padding-left: 3.4rem;
  padding-right: 3.4rem;
  margin-bottom: 0;
}
.landing-promo .title {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.landing-promo .subtitle {
  font-size: 1.6rem;
}
.landing-promo-list {
  margin: 0;
}
.landing-promo-card {
  display: grid;
  grid-template-columns: 24% 69%;
  gap: 7%;
  padding-left: 4rem;
  padding-right: 2rem;
  margin-bottom: 2.8rem;
}
.landing-promo-card .multicolumn-card__info {
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 0 !important;
}
.landing-promo-card h3 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: -0.5rem;
}

[id$="__ce8bebce-f3c6-43bd-94d2-6d40941a4f4a"] .rich-text__heading {
  font-size: 2.6rem;
  line-height: 1.1;
  text-transform: uppercase;
  padding: 0 6rem;
}
[id$="__ce8bebce-f3c6-43bd-94d2-6d40941a4f4a"] .rich-text__text {
  font-size: 1.9rem;
  line-height: 1.3;
  letter-spacing: .07em;
}
[id$="__ce8bebce-f3c6-43bd-94d2-6d40941a4f4a"] .rich-text__text:not(:last-child) {
  color: #FFFF00;
  font-weight: 700;
  margin-left: -1rem;
  margin-right: -1rem;
}

[id$="__846f40aa-fd55-4464-a22e-b4fe77afe467"] .rich-text__blocks {
  background-image: url('https://cdn.shopify.com/s/files/1/0731/9506/1561/files/fingerprint.png?v=1687856359');
  background-size: 5.2rem 7.6rem;
  background-repeat: no-repeat;
  background-position: 1rem 50%;
  background-attachment: initial;
  padding: 2rem 0 2rem 8rem;
}
[id$="__846f40aa-fd55-4464-a22e-b4fe77afe467"] .rich-text__text {
  font-family: 'neue-haas-unica';
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.3;
}

[id$="__eada49c7-b712-4db1-ac2c-d73f34856d6a"] .multicolumn-card-spacing {
  margin: 0 auto !important;
}
[id$="__eada49c7-b712-4db1-ac2c-d73f34856d6a"] .multicolumn-card__info h3 {
  font-size: 2.6rem;
  text-transform: uppercase;
  line-height: 1.1;
}
[id$="__eada49c7-b712-4db1-ac2c-d73f34856d6a"] .multicolumn-card__info p {
  font-size: 1.5rem;
  letter-spacing: .007em;
}
[id$="__eada49c7-b712-4db1-ac2c-d73f34856d6a"] .multicolumn-card__info p:not(:last-child) {
  margin-bottom: 1.4rem
}
[id$="__eada49c7-b712-4db1-ac2c-d73f34856d6a"] .multicolumn-card__info {
  padding: 1.5rem 2rem !important;
  line-height: 1.5;
}

[id$="__bac01219-7e08-4425-ac3d-e4595f914c8a"] .rich-text__heading.h0 {
  font-size: 2.6rem;
  margin: 0;
  line-height: 1.1;
  text-transform: uppercase;
}
[id$="__bac01219-7e08-4425-ac3d-e4595f914c8a"] .rich-text__heading.h0:first-child {
  font-weight: 300;
}
[id$="__bac01219-7e08-4425-ac3d-e4595f914c8a"] .rich-text__heading.h2 {
  font-weight: 700;
  margin-top: .5rem;
}
[id$="__bac01219-7e08-4425-ac3d-e4595f914c8a"] .rich-text__text {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #3C3C3C;
  letter-spacing: .07em;
}

[id$="__462bc745-fc2e-4ea4-a0d4-39b26da43917"] .rich-text__heading {
  font-size: 2.7rem;
  color: #3C3C3C;
}
[id$="__462bc745-fc2e-4ea4-a0d4-39b26da43917"] .rich-text__text {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #3C3C3C;
  letter-spacing: .07em;
  margin-top: .8rem;
}
[id$="__462bc745-fc2e-4ea4-a0d4-39b26da43917"] .rich-text__text p {
  margin: .8rem 0;
}

[id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] .collapsible-content-wrapper-narrow {
  width: calc(100% - 4rem / var(--font-body-scale));
}
[id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] .collapsible-content__heading {
  font-size: 2.6rem;
  text-align: left;
  margin-bottom: .5rem;
}
[id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] .accordion {
  margin: 0;
  border: none;
  font-family: neue-haas-unica;
  font-size: 1.8rem;
  line-height: 1.3;
}
[id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] .accordion summary {
  gap: .5rem;
  flex-direction: row-reverse;
  justify-content: start;
  line-height: 1.3;
}
[id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] .collapsible-content summary:hover .accordion__title {
  text-decoration: none;
}
[id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] .accordion__content {
  margin-bottom: 1rem;
  padding: 0 0 0 3.2rem;
  overflow-x: initial;
  color: #3C3C3C;
}
[id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] summary .icon-caret {
  position: static;
  height: 2.2rem;
  color: #00512C;
  margin-top: .3rem;
}


#footer-hero .rich-text__blocks {
  display: grid; 
  grid-template-columns: 1fr 1fr; align-items: end;
} 
#footer-hero .rich-text__heading {
  font-family: "Raleway"; 
  font-weight: 900; 
  text-align: right; 
  font-size: 18rem; 
  line-height: 1; 
  margin-right: 1.2rem; 
  color: #fff;
} 
#footer-hero .rich-text__text {
  font-family: "Roboto"; 
  font-size: 1.8rem; 
  line-height: 1.4; 
  text-transform: uppercase; 
  color: #fff; 
  margin-bottom: 2rem; 
} 
#footer-hero .rich-text__text strong {
  font-weight: 900;
} 
#footer-hero .gradient {
  background: none;
}
#footer-hero a {
  pointer-events: none;
  cursor: default;
}


/* Mobile */
@media screen and (max-width: 749px) {
  [id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] {
    background-image: url('https://cdn.shopify.com/s/files/1/0731/9506/1561/files/brain-art-shutterstock-blurred.jpg');
  }
  .header-hero--landing__logo {
    transform: translateY(-1.6rem);
    margin-bottom: -2.6rem;
  }
  .header-hero--landing__logo .rich-text__heading {
    font-size: 18.8rem !important;
    margin-right: .5rem;
  }
  .header-hero--landing__logo .rich-text__text {
    font-size: 1.5rem !important;
    line-height: 1.2;
    margin-bottom: 2.3rem;
    margin-left: .5rem;
  }
  .landing-buy__heading,
  .landing-buy__caption,
  .landing-buy__text:not(:last-child) {
    display: none;
  }
  .landing-buy__product-card--popular {
    display: flex;
    flex-direction: column;
  }
  .landing-buy__product-card-list {
    order: 1;
  }
  .landing-buy__product-card-subtitle {
    order: 2;
  }
  .landing-buy__product-card-button {
    order: 3;
  }
  .landing-buy__product-card--single .landing-buy__product-card-image {
    margin: 2rem 5rem 1rem;
  }
  .landing-promo .multicolumn-list__item:first-child {
    display: none;
  }
  .landing-promo .title {
    max-width: 22rem;
  }
  [id$="__bac01219-7e08-4425-ac3d-e4595f914c8a"] .rich-text__blocks {
    text-align: left;
    padding-right: 4.4rem;
  }
  [id$="__462bc745-fc2e-4ea4-a0d4-39b26da43917"] .rich-text__text {
    padding-bottom: 2.6rem;
    border-bottom: 1px solid #707070;
  }
}


/* Desktop */
@media screen and (min-width: 750px) {
  .page-width {
    padding: 0 8rem;
  }
  .announcement-bar__message {
    font-size: 1.8rem;
    padding: 2.6rem 0 2.5rem;
  }
  .footer__content-top .grid {
    display: block;
  }
  .grid--4-col-tablet .grid__item.footer-block--hero {
    width: calc(42% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
  }
  /* .footer__content-top.page-width {
    max-width: none;
  }
  .grid__item.footer-block--hero {
    max-width: none;
    width: 40%;
  } */
  #footer-hero .rich-text__heading {
    font-size: 26rem;
  }
  #footer-hero .rich-text__text {
    font-size: 2.6rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
  }
  ul.policies {
    gap: 4rem;
    margin-bottom: 4rem;
  }
  ul.policies .copyright__content {
    font-size: 1.2rem;
  }
  .footer__copyright .copyright__content {
    font-size: 1.4rem;
  }
  .header-hero--landing__logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  [id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .rich-text__wrapper:last-child .rich-text__heading {
    font-size: 4.8rem;
    margin-bottom: 1.5rem;
  }
  [id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .rich-text__wrapper:last-child .rich-text__heading.h2 {
    font-size: 3.4rem;
  }
  [id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .rich-text__wrapper:last-child .rich-text__text {
    font-size: 2.4rem;
    margin-bottom: 4.5rem;
  }
  [id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .rich-text__wrapper:last-child .subtitle--small {
    font-size: 1.7rem;
  }
  [id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .rich-text__wrapper:last-child .rich-text__buttons {
    margin-top: 5rem;
  }
  [id$="__66cf8cbb-c0c7-4476-9ca8-e814c24bb9d8"] .rich-text__wrapper:last-child .subtitle--medium {
    transform: none;
    margin: 1.5rem auto 2rem;
  }
  .button {
    font-size: 2.4rem;
    min-height: 5.8rem;
  }
  [id$="__5e4492b5-fba5-4102-8fab-6132b0b5f714"] .title,
  [id$="__5e4492b5-fba5-4102-8fab-6132b0b5f714"] .multicolumn-card__info {
    font-size: 2.4rem;
  }
  [id$="__5e4492b5-fba5-4102-8fab-6132b0b5f714"] .multicolumn-list__item:only-child {
    max-width: none;
  }
  [id$="__5e4492b5-fba5-4102-8fab-6132b0b5f714"] .background-none .multicolumn-card__image-wrapper {
    max-width: 79rem;
    margin: 0 auto;
  }
  .landing-buy__text:last-child {
    display: none;
  }
  .landing-buy__text {
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: 5rem;
  }
  .landing-buy__product-card--single {
    text-align: center;
    padding: 2.7rem 2rem 2.6rem;
  }
  .landing-buy__product-card--single .landing-buy__product-card-image {
    width: 55%;
    margin: 0 auto;
  }
  .landing-buy__product-card-button .button {
    min-height: 4.8rem;
  }
  .landing-buy__product-card-title,
  .landing-buy__product-card-top-title {
    font-size: 3.2rem;
  }
  .landing-buy__product-card-top-title {
    padding: .6rem 1.5rem .5rem 10.0rem;
    min-height: auto;
  }
  .landing-buy__product-card--value .landing-buy__product-card-top-title {
    padding: 1.1rem 1.5rem .9rem 10.0rem;
  }
  .landing-buy__product-card-badge {
    width: 11.3rem;
    height: 12.9rem;
    top: 0;
    left: 0;
  }
  .landing-buy__product-card--popular .landing-buy__product-card-title,
  .landing-buy__product-card--value .landing-buy__product-card-title {
    font-size: 3.6rem;
  }
  .landing-buy__product-card--popular .landing-buy__product-card-price,
  .landing-buy__product-card--popular .landing-buy__product-card-price-savings,
  .landing-buy__product-card--value .landing-buy__product-card-price,
  .landing-buy__product-card--value .landing-buy__product-card-price-savings {
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }
  .landing-buy__product-card--popular {
    border: 1rem solid #1EA97F;
  }
  .landing-buy__product-card-subtitle {
    font-size: 1.6rem;
  }
  .landing-buy__product-card-list ul {
    font-size: 1.8rem;
  }
  .landing-buy__product-card-note {
    font-size: 2rem;
  }
  .landing-buy__product-card--popular .landing-buy__product-card-note {
    margin: 2rem 0;
  }
  .landing-buy__product-card--value .landing-buy__product-card-note {
    margin-bottom: 1rem;
  }
  .landing-promo .multicolumn-list__item:nth-child(2) {
    display: none;
  }
  .landing-promo .multicolumn-list__item:nth-child(3) {
    order: -1;
  }
  .landing-promo .title-wrapper {
    text-align: center;
    margin: 2rem 0;
  }
  .landing-promo .title {
    font-size: 4.8rem;
    font-weight: 900;
  }
  .landing-promo .subtitle {
    font-size: 2.8rem;
  }
  .landing-promo-card h3 {
    font-size: 3.2rem;
  }
  .landing-promo-card .multicolumn-card__info {
    font-size: 2.4rem;
  }
  .landing-promo div.multicolumn-card__image-wrapper {
    margin: 0;
  }
  .landing-promo-card {
    grid-template-columns: 30% 64%;
    gap: 6%;
    padding-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .landing-promo .multicolumn-list__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .landing-promo-list {
    margin-bottom: 3rem !important;
  }
  [id$="__ce8bebce-f3c6-43bd-94d2-6d40941a4f4a"] .rich-text__heading,
  [id$="__ce8bebce-f3c6-43bd-94d2-6d40941a4f4a"] .rich-text__text {
    font-size: 3.6rem;
  }
  [id$="__846f40aa-fd55-4464-a22e-b4fe77afe467"] .rich-text__blocks {
    background-size: 14.7rem 21.4rem;
    background-position: 0 50%;
    padding: 10rem 0 10rem 19rem;
  }
  [id$="__846f40aa-fd55-4464-a22e-b4fe77afe467"] .rich-text__text {
    font-size: 3.6rem;
  }
  [id$="__6452991a-488c-47fb-83ea-42c196093a19"] .page-width {
    max-width: 146rem;
  }
  [id$="__eada49c7-b712-4db1-ac2c-d73f34856d6a"] .multicolumn-card__info h3 {
    font-size: 4.8rem;
    text-align: center;
    margin: 2.2rem -18rem 2.8rem;
  }
  [id$="__eada49c7-b712-4db1-ac2c-d73f34856d6a"] .multicolumn-card__info p {
    font-size: 2.2rem;
    letter-spacing: .007em;
    max-width: 66.7rem;
    margin: 0 auto 2rem;
  }
  [id$="__690ebd0b-fdd6-4d6e-9aba-e5a8af29fe52"] .page-width {
    max-width: 95rem;
  }
  [id$="__bac01219-7e08-4425-ac3d-e4595f914c8a"] .rich-text__heading.h0 {
    font-size: 4.8rem;
  }
  [id$="__bac01219-7e08-4425-ac3d-e4595f914c8a"] .rich-text__heading.h2 {
    font-size: 3.2rem;
    margin-top: 3rem;
  }
  [id$="__bac01219-7e08-4425-ac3d-e4595f914c8a"] .rich-text__text {
    font-size: 2.2rem;
  }
  [id$="__462bc745-fc2e-4ea4-a0d4-39b26da43917"] .rich-text__heading {
    font-size: 3.4rem;
    text-align: right;
  }
  [id$="__462bc745-fc2e-4ea4-a0d4-39b26da43917"] .rich-text__wrapper {
    max-width: none;
    border-bottom: 1px solid #707070;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  [id$="__462bc745-fc2e-4ea4-a0d4-39b26da43917"] .rich-text__blocks {
    max-width: none;
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 3.5rem;
  }
  [id$="__462bc745-fc2e-4ea4-a0d4-39b26da43917"] .rich-text__text {
    font-size: 2.4rem;
    padding-left: 3.5rem;
    border-left: 3px solid #6F6E6E;
  }
  [id$="__462bc745-fc2e-4ea4-a0d4-39b26da43917"] .rich-text__text p {
    margin: 2.2rem 0;
  }
  [id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] .collapsible-content__heading {
    font-size: 4.8rem;
    margin-bottom: 1.5rem;
  }
  [id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] .accordion {
    font-size: 2.4rem;
  }
  [id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] .collapsible-content-wrapper-narrow {
    max-width: 76rem;
  }
  [id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] .accordion summary {
    gap: 2.8rem;
  }
  [id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] summary .icon-caret {
    height: 3.4rem;
    margin-top: 0;
  }
  [id$="__42ca917f-41d9-43b7-ac19-be935e4f33ef"] .accordion__content {
    padding-left: 7.2rem;
  }
}

/* Desktop (exluding tablet) */
@media screen and (min-width: 990px) {
  .landing-buy__products {
    display: grid;
    grid-template-columns: 30% 32% 30%;
    align-items: center;
    gap: 4%;
  }
}



