.new-icon-grid {
    display: flex;
    justify-content: space-between;
}

/* .new-icon-grid__col {
    flex: 1;
} */

.new-icon-grid__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.new-icon-grid__icon {
    line-height: 0;
}

.new-icon-grid__text {
    font-weight: bold;
    color: #100F0F
}

.new-icon-grid__text .note {
    font-weight: normal;
    font-size: 18px;
}

@media (max-width: 749px) {
    .new-icon-grid {
        display: none;
    }
}