.new-brain__container {
    position: relative;
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.new-brain__image {
    width: 600px;
    height: auto;
    margin: 0 auto;
}

.new-brain__heading {
    font-weight: bold;
}

.new-brain__item.item--desktop {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.new-brain__item.item--mobile {
    display: none;
}

.new-brain__heading {
    margin-bottom: 5px;
}

.new-brain__heading, .new-brain__description {
    max-width: 250px;
    line-height: 1.2;
    font-size: 15px;
}

.new-brain__line {
    display: block !important;
    height: 1px;
    background-color: black;
    margin-top: 5px;
    position: relative;
}

.new-brain__item.item--1 .new-brain__line {
    width: 250px;
}

.new-brain__item.item--2 .new-brain__line {
    width: 560px;
}

.new-brain__item.item--3 .new-brain__line {
    width: 440px;
}

.new-brain__item.item--4 .new-brain__line {
    width: 350px;
}

.new-brain__item.item--5 .new-brain__line {
    width: 320px;
}

.new-brain__item.item--6 .new-brain__line {
    width: 380px;
}

.new-brain__item.item--1 .new-brain__line:before, .new-brain__item.item--2 .new-brain__line:before, .new-brain__item.item--3 .new-brain__line:before {
    width: 8px;
    height: 8px;
    background-color: black;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    border-radius: 50%;
    transform: translateY(-3px)
}

.new-brain__item.item--4 .new-brain__line:before, .new-brain__item.item--5 .new-brain__line:before, .new-brain__item.item--6 .new-brain__line:before {
    width: 8px;
    height: 8px;
    background-color: black;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    border-radius: 50%;
    transform: translateY(-3px)
}

.new-brain__item.item--1 {
    top: 80px;
    left: 100px;
}

.new-brain__item.item--2 {
    top: 230px;
    left: 0px;
}

.new-brain__item.item--3 {
    top: 400px;
    left: 50px;
}

.new-brain__item.item--4, .new-brain__item.item--5, .new-brain__item.item--6 {
    align-items: flex-end;
    text-align: right;
}

.new-brain__item.item--4 {
    top: 80px;
    right: 50px;
}

.new-brain__item.item--5 {
    top: 230px;
    right: 0px;
}

.new-brain__item.item--6 {
    top: 400px;
    right: 50px;
}

@media (max-width: 1199px) {
    .new-brain__container {
        width: 1000px;
    }

    .new-brain__image {
        max-width: 400px;
    }

    .new-brain__item.item--1 {
        top: 30px;
        left: 100px;
    }
    
    .new-brain__item.item--2 {
        top: 130px;
        left: 0px;
    }
    
    .new-brain__item.item--3 {
        top: 230px;
        left: 50px;
    }

    .new-brain__item.item--4 {
        top: 30px;
        right: 50px;
    }
    
    .new-brain__item.item--5 {
        top: 130px;
        right: 0px;
    }
    
    .new-brain__item.item--6 {
        top: 230px;
        right: 50px;
    }

    .new-brain__item.item--1 .new-brain__line {
        width: 250px;
    }
    
    .new-brain__item.item--2 .new-brain__line {
        width: 460px;
    }
    
    .new-brain__item.item--3 .new-brain__line {
        width: 390px;
    }
    
    .new-brain__item.item--4 .new-brain__line {
        width: 350px;
    }
    
    .new-brain__item.item--5 .new-brain__line {
        width: 320px;
    }
    
    .new-brain__item.item--6 .new-brain__line {
        width: 320px;
    }
}

@media (max-width: 999px) {
    .new-brain__container {
        width: 100%;
    }

    .new-brain__item.item--desktop {
        display: none;
    }

    .new-brain__item.item--mobile {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-align: left !important;
    }

    .new-brain__heading, .new-brain__description {
        max-width: 100%;
    }

    .new-brain__heading {
        margin-bottom: 0;
    }

    .new-brain__item {
        margin-bottom: 1.5rem;
    }

    .new-brain__number {
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
        border-radius: 50%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .new-brain__container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2rem;
    }

    .new-brain__container > * {
        width: calc(50% - 1rem)
    }

    .new-brain__container > *:first-child {
        width: 100%;
        max-width: 100%;
    }

    .new-brain__image img {
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 599px) {
    .new-brain__container > * {
        width: 100%;
    }

    .new-brain__image img {
        max-width: 100%;
    }
}